<div class="buttons">
	<h2>Buttons</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-primary btn-sm">Primary</button>
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-primary btn-lg">Primary</button>
			<button type="button" class="btn btn-primary disabled">Primary</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-primary" data-element="background-color">
					<label for="tc-btn-primary-bg-color">Background:</label>
					<input id="tc-btn-primary-bg-color" data-selector=".customizer .btn-primary" data-element="background-color" data-var="@btn-primary-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-primary" data-element="border-color">
					<label for="tc-btn-primary-border-color">Border:</label>
					<input id="tc-btn-primary-border-color" data-selector=".customizer .btn-primary" data-element="border-color" data-var="@btn-primary-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-primary" data-element="color">
					<label for="tc-btn-primary-text-color">Text:</label>
					<input id="tc-btn-primary-text-color" data-selector=".customizer .btn-primary" data-element="color" data-var="@btn-primary-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-secondary btn-sm">Secondary</button>
			<button type="button" class="btn btn-secondary">Secondary</button>
			<button type="button" class="btn btn-secondary btn-lg">Secondary</button>
			<button type="button" class="btn btn-secondary disabled">Secondary</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-secondary" data-element="background-color">
					<label for="tc-btn-secondary-bg-color">Background:</label>
					<input id="tc-btn-secondary-bg-color" data-selector=".customizer .btn-secondary" data-element="background-color" data-var="@btn-secondary-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-secondary" data-element="border-color">
					<label for="tc-btn-secondary-border-color">Border:</label>
					<input id="tc-btn-secondary-border-color" data-selector=".customizer .btn-secondary" data-element="border-color" data-var="@btn-secondary-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-secondary" data-element="color">
					<label for="tc-btn-secondary-text-color">Text:</label>
					<input id="tc-btn-secondary-text-color" data-selector=".customizer .btn-secondary" data-element="color" data-var="@btn-secondary-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-success btn-sm">Success</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-success btn-lg">Success</button>
			<button type="button" class="btn btn-success disabled">Success</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-success" data-element="background-color">
					<label for="tc-btn-success-bg-color">Background:</label>
					<input id="tc-btn-success-bg-color" data-selector=".customizer .btn-success" data-element="background-color" data-var="@btn-success-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-success" data-element="border-color">
					<label for="tc-btn-success-border-color">Border:</label>
					<input id="tc-btn-success-border-color" data-selector=".customizer .btn-success" data-element="border-color" data-var="@btn-success-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-success" data-element="color">
					<label for="tc-btn-success-text-color">Text:</label>
					<input id="tc-btn-success-text-color" data-selector=".customizer .btn-success" data-element="color" data-var="@btn-success-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-danger btn-sm">Danger</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-danger btn-lg">Danger</button>
			<button type="button" class="btn btn-danger disabled">Danger</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-danger" data-element="background-color">
					<label for="tc-btn-danger-bg-color">Background:</label>
					<input id="tc-btn-danger-bg-color" data-selector=".customizer .btn-danger" data-element="background-color" data-var="@btn-danger-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-danger" data-element="border-color">
					<label for="tc-btn-danger-border-color">Border:</label>
					<input id="tc-btn-danger-border-color" data-selector=".customizer .btn-danger" data-element="border-color" data-var="@btn-danger-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-danger" data-element="color">
					<label for="tc-btn-danger-text-color">Text:</label>
					<input id="tc-btn-danger-text-color" data-selector=".customizer .btn-danger" data-element="color" data-var="@btn-danger-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-warning btn-sm">Warning</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-warning btn-lg">Warning</button>
			<button type="button" class="btn btn-warning disabled">Warning</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-warning" data-element="background-color">
					<label for="tc-btn-warning-bg-color">Background:</label>
					<input id="tc-btn-warning-bg-color" data-selector=".customizer .btn-warning" data-element="background-color" data-var="@btn-warning-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-warning" data-element="border-color">
					<label for="tc-btn-warning-border-color">Border:</label>
					<input id="tc-btn-warning-border-color" data-selector=".customizer .btn-warning" data-element="border-color" data-var="@btn-warning-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-warning" data-element="color">
					<label for="tc-btn-warning-text-color">Text:</label>
					<input id="tc-btn-warning-text-color" data-selector=".customizer .btn-warning" data-element="color" data-var="@btn-warning-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-info btn-sm">Info</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-info btn-lg">Info</button>
			<button type="button" class="btn btn-info disabled">Info</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-info" data-element="background-color">
					<label for="tc-btn-info-bg-color">Background:</label>
					<input id="tc-btn-info-bg-color" data-selector=".customizer .btn-info" data-element="background-color" data-var="@btn-info-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-info" data-element="border-color">
					<label for="tc-btn-info-border-color">Border:</label>
					<input id="tc-btn-info-border-color" data-selector=".customizer .btn-info" data-element="border-color" data-var="@btn-info-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-info" data-element="color">
					<label for="tc-btn-info-text-color">Text:</label>
					<input id="tc-btn-info-text-color" data-selector=".customizer .btn-info" data-element="color" data-var="@btn-info-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-light btn-sm">Light</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-light btn-lg">Light</button>
			<button type="button" class="btn btn-light disabled">Light</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-light" data-element="background-color">
					<label for="tc-btn-light-bg-color">Background:</label>
					<input id="tc-btn-light-bg-color" data-selector=".customizer .btn-light" data-element="background-color" data-var="@btn-light-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-light" data-element="border-color">
					<label for="tc-btn-light-border-color">Border:</label>
					<input id="tc-btn-light-border-color" data-selector=".customizer .btn-light" data-element="border-color" data-var="@btn-light-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-light" data-element="color">
					<label for="tc-btn-light-text-color">Text:</label>
					<input id="tc-btn-light-text-color" data-selector=".customizer .btn-light" data-element="color" data-var="@btn-light-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-dark btn-sm">Dark</button>
			<button type="button" class="btn btn-dark">Dark</button>
			<button type="button" class="btn btn-dark btn-lg">Dark</button>
			<button type="button" class="btn btn-dark disabled">Dark</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .btn-dark" data-element="background-color">
					<label for="tc-btn-dark-bg-color">Background:</label>
					<input id="tc-btn-dark-bg-color" data-selector=".customizer .btn-dark" data-element="background-color" data-var="@btn-dark-bg" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-dark" data-element="border-color">
					<label for="tc-btn-dark-border-color">Border:</label>
					<input id="tc-btn-dark-border-color" data-selector=".customizer .btn-dark" data-element="border-color" data-var="@btn-dark-border" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p class="picker" data-selector=".customizer .btn-dark" data-element="color">
					<label for="tc-btn-dark-text-color">Text:</label>
					<input id="tc-btn-dark-text-color" data-selector=".customizer .btn-dark" data-element="color" data-var="@btn-dark-color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
			</div>
		</div>
	</div>
</div>
