<div class="tabs">
	<h2>Tabs</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			{tabset name='tc-tabs'}
				{tab name='Title 1'}
					Arcu lacus pulvinar tristique amet natoque tincidunt facilisis aliquam, integer est magna amet? Ultricies?
					Elit nascetur amet nunc, auctor amet. Est platea magna pulvinar. Placerat, vut, velit et. Turpis proin!
					Lectus et! Parturient dapibus placerat elementum, dictumst phasellus. Porta adipiscing proin dolor natoque
					tincidunt, et a diam nec. Dictumst tempor.

					Enim vel penatibus integer aliquet aenean. Porttitor nec etiam. Augue aliquet vel porttitor, lorem ridiculus
					sed natoque etiam lorem! Turpis nisi, integer in proin nisi dapibus magna, porta turpis, massa nisi nisi
					arcu augue purus. Adipiscing lundium, lacus vel! Pellentesque mid? Auctor tristique ultrices, odio? Tempor
					parturient in ultricies.
				{/tab}
				{tab name='Title 2'}
					Mattis tristique sit dapibus proin mid, pellentesque, enim dictumst!
					Parturient lorem tincidunt odio massa. Augue integer ultricies nunc est etiam porttitor in. Turpis etiam sit
					vut! Pellentesque? Nunc nunc purus. Non turpis natoque velit placerat tristique. Turpis? Mus enim hac arcu
					enim. Phasellus nec, amet ac parturient natoque non porttitor.

					Odio tincidunt sagittis ut, hac, pellentesque pulvinar diam sed adipiscing eros elementum, nec lundium in
					vel ac elementum elementum. Diam vel pulvinar integer. Vut sit dis facilisis magnis, facilisis? Dapibus
					porttitor urna scelerisque! Cras porta hac, quis urna integer cum vel penatibus parturient. Sagittis mattis!
					Enim odio tortor dapibus.
				{/tab}
				{tab name='Title 3'}
					Sagittis magna, dapibus dis, turpis est ut, dis eros. In et enim, placerat
					nunc, rhoncus, a, lorem ultricies turpis et augue aliquet aenean sed? Sociis pellentesque, turpis
					scelerisque natoque porta, scelerisque magna. Amet elementum porttitor! Ac, amet hac placerat, in. Duis
					elementum, integer et nisi, cursus diam velit, ut facilisis.

					Tortor dis adipiscing in sed, turpis dictumst? Lorem massa? Et tempor adipiscing montes parturient nisi
					dictumst magna dictumst a aliquet dapibus! Magna eu vel? Mus diam, mauris. Aliquam turpis augue, rhoncus
					tortor aliquam, dolor ac urna elementum sed, eu enim egestas augue pid sociis sed nec a sit augue.
				{/tab}
			{/tabset}
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".customizer .nav-tabs > li:not(.active) > a" data-element="color">
					<label for="tc-tab-color">Tab text color:</label>
					<input id="tc-tab-color" data-selector=".customizer .nav-tabs > li:not(.active) > a" data-element="color" type="text">
					<span class="input-group-addon"><i></i></span>
				</p>
				<p>
					<label for="tc-tab-margin">Tab margin:</label>
					<input id="tc-tab-margin" class="nocolor" data-selector=".customizer .nav-tabs > li > a" data-element="margin-right" type="text">
				</p>
				<p>
					<label for="tc-tab-padding">Text padding:</label>
					<input id="tc-tab-padding" class="nocolor" data-selector=".customizer .tab-content" data-element="padding" type="text">
				</p>
			</div>
		</div>
	</div>
</div>
