//$Id$
//Custom styles for a new theme.
// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

//$primary: #ad1d28;
$success: #bbfa7c;
$info: #abd5f5;
$warning: #fad67d;
$danger: #d9534f;

$theme-colors: (
 // 	"primary":        	#ababab,
 // 	"secondary": 		#dddddd,
 	"success":         	#bbfa7c,
  	"info":           	#abd5f5,
  	"warning":         	#fad67d,
 	"danger":          	#d9534f //,
 //		"light":			#ffffff,
 // 	"dark":				#000000
);

// Options
// Spacing

// Body
$body-bg: #f6f6f6;
$body-color: #252525;
// Links
$link-color: #0645ad;
$link-hover-color:      $link-color;

// Components
$border-radius:          0px;
$border-radius-lg:       4px;
$border-radius-sm:       0px;

// Fonts
$font-size: 14px;
$font-family-sans-serif:  sans-serif;
$h1-font-size:            1.87rem;
$h2-font-size:            1.75rem;
$h3-font-size:            1.3125rem;
$h4-font-size:            1.0625rem;
$line-height:        1.5;
$headings-font-family:    "Linux Libertine", Georgia, Times, serif;
$headings-line-height:    1.3;

// Tables
$table-bg:                      #fff;
$table-border-color:            #aaa;
//$table-bg-accent: darken(#474747,5%);
//$table-bg-hover: #555555;
//$table-bg-active: $table-bg-hover;
//$table-head-bg: #292929;

// Buttons
//$btn-primary-color:              $body-color; These variables don't exist in BS4
//$btn-primary-bg:                 #e1e1e1;
//$btn-primary-border:            #adadad;
//$btn-success-color:              $body-color;
//$btn-info-color:                 $body-color;
//$btn-warning-color:              $body-color;

// Forms
 //$input-border: #dddddd;
// Dropdowns
// Navs
// Navbar
 //$navbar-dark-color: #ffffff;
 //$navbar-dark-bg: #1f5daa;
 //$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

// Navbarlinks ??
 //$navbar-dark-color: #ffffff;
 //$navbar-dark-hover-color: darken(#fff, 10%);
 //$navbar-dark-hover-bg: #3270bd;
 //$navbar-dark-active-color: #ffffff;
 //$navbar-dark-active-bg: #3270bd;
 //$navbar-dark-disabled-color: #cccccc;

// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
$breadcrumb-bg:                 transparent;
// Carousel
// Close
// Code
$label-color:                 $body-color;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //