// $Id$



// /***** Trackers (etc.) *****/
.statuson,
.statusoff {
	padding: 3px 2px 0 2px;
	vertical-align: middle;
	height: 15px;
}

.multiselect .selection {
	display: none;
	overflow: auto;
	position: relative;
	height: auto;
	z-index: 1000;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.tracker-item-files li {
	clear: right;
	padding-right: 1em;
	font-size: 0.9em;
}

.tracker-item-files a.file-delete-icon {
	display: inline-block;
	clear: right;
	float: right;
}

.tracker-item-files {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}

.file-drop {
	min-height: 100px;
}

.tracker-form-text {
	margin-top: -15px;
}

.card-accordian {
	.card-header {
		padding: 0;
		h4.card-title {
			padding: 0;
			margin: 0;
			a {
				display: block;
				padding: $card-spacer-y $card-spacer-x;
			}
		}
	}
}

.tracker-field-h a {
  font-weight: bold;
}


[class*="tracker-status"] {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-family: "Font Awesome 5 Free";
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
	}
	&.highlighted:before {
		color: inherit !important;
	}
}

.chosen-container .chosen-results li.result-selected {
	&.tracker-status-open,
	&.tracker-status-o,
	&.tracker-status-pending,
	&.tracker-status-p,
	&.tracker-status-closed,
	&.tracker-status-c {
		&:before {
			top: 0;
			width: auto;
			height: auto;
			margin-left: 0;
		}
	}
}

.chosen-container .chosen-results li.result-selected.tracker-status-open,
.chosen-container .chosen-results li.result-selected.tracker-status-o,
.tracker-status-open, .tracker-status-o {
	&:before {
		content: "\f111";
		color: green;
		font-weight: 900;
	}
}

.chosen-container .chosen-results li.result-selected.tracker-status-pending,
.chosen-container .chosen-results li.result-selected.tracker-status-p,
.tracker-status-pending, .tracker-status-p {
	&:before {
		content: "\f042";
		color: orange;
		font-weight: 900;
	}
}

.chosen-container .chosen-results li.result-selected.tracker-status-closed,
.chosen-container .chosen-results li.result-selected.tracker-status-c,
.tracker-status-closed, .tracker-status-c {
	&:before {
		content: "\f057";
		color: grey;
		font-weight: 400;
	}
}
