/* Jqui theme (jqui.css) Element theme option (element.css)
	for Tiki Wiki CMS/Groupware.
	Thanks to garkpit for the random name. */
body {
  color: #333333;
}
a,
.btn-link {
  color: #2a5385;
}

a:hover,
.btn-link:hover,
a:focus,
.btn-link:focus {
  color: #7195c1;
}

h1, h2, h3, h4, h5, h6, .pagetitle a {
  color: #7195C1;
}

h3.card-title {
	color: #363636
}

.btn-primary {
  color: #555555;
  background-color: #ffffff;
  border-color: #777777;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #373737;
}

.btn-primary:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #585858;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #585858;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #555555;
  background-color: #d4d4d4;
  border-color: #373737;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #ffffff;
  border-color: #777777;
}

.btn-primary .badge {
  color: #ffffff;
  background-color: #555555;
}

.navbar-light {
  background-color: #cccccc;
  border-color: #aaaaaa;
}

.navbar-light .navbar-text {
  color: #363636;
}

.navbar-light .navbar-nav > li > a {
  color: #2a5385;
}

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #7195c1;
  background-color: #eeaa66;
}

.navbar-light .navbar-link {
  color: #2a5385;
}

.navbar-light .navbar-link:hover {
  color: #7195c1;
}

#col2 .card a,
#col3 .card a,
#bottom_modules .card a,
#col2 .card a:visited,
#col3 .card a:visited,
#bottom_modules .card a:visited {
  color: #000000;
}

.btn,
.btn-primary,
input[type="reset"],
input[type="submit"],
.button input {
  font-weight: bold;
}

.btn.btn-link,
input[type="submit"].btn-link {
  background: none;
}

.btn:hover,
.btn-primary:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
  background: #eeaa66;
}

.btn-link:hover {
  background: none;
}

.topbar,
.topbar .navbar-light .navbar-nav > li,
.topbar .nav > li {
  color: #363636;
}

.topbar > a,
.topbar .navbar-light .navbar-nav > li > a,
.topbar .nav > li > a {
  color: #2a5385;
}

.topbar > a:hover,
.topbar .navbar-light .navbar-nav > li > a:hover,
.topbar .nav > li > a:hover,
.topbar > a:focus,
.topbar .navbar-light .navbar-nav > li > a:focus,
.topbar .nav > li > a:focus {
  color: #7195c1;
}

/*.navbar-nav > li > a {
  padding-top: none;
  padding-bottom: none;}

.navbar-nav > li > a {
  padding-bottom: 0;
  padding-top: 0;
}*/

.sf-arrows .sf-with-ul:after {
  border: 5px solid transparent;
  border-top-color: #2a5385;
}

.cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #2a5385;
  /* edit this to suit design (no rgba in IE8) */
}

.sf-arrows ul .sf-with-ul:after,
.cssmenu_vert.sf-arrows ul > li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #2a5385;
  /* edit this to suit design (no rgba in IE8) */
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #244772;
}

.cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
.cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
.cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #244772;
}

#col2 .cssmenu_vert.sf-arrows li > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #000000;
  /* edit this to suit design (no rgba in IE8) */
}

#col2 .cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
#col3 .cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
#col2 .cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
#col2 .cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #888888;
}